<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ewallet">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EWallet">

        <!-- OTP screen -->
        <activity
            android:name=".feature.data.ui.otp.OtpActivity"
            android:exported="false"
            android:parentActivityName=".feature.data.ui.login.LoginActivity"
            />

        <!-- Launcher screen -->
        <activity
            android:name=".feature.data.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
